<div id="<%= dom_id picture %>">
  <p>
    <strong>Title:</strong>
    <%= picture.title %>
  </p>
  <% if picture.image.attached? %>
    <%= image_tag(picture.image, class: 'img-fluid mx-auto ',size: '500x300') %>
  <% else %>
    <p>No image attached</p>
  <% end %>

</div>
